
<!doctype html>

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <script  src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
        <script src="/public/js/utils.js"></script>
		
        <!-- clmtrackr js -->
        <script src="/public/js/clmtrackr_js/ext_js/utils.js"></script>
        <script src="/public/js/clmtrackr_js/ext_js/jsfeat-min.js"></script>
        <script src="/public/js/clmtrackr_js/ext_js/frontalface.js"></script>
        <script src="/public/js/clmtrackr_js/ext_js/jsfeat_detect.js"></script>
        <script src="/public/js/clmtrackr_js/ext_js/numeric-1.2.6.min.js"></script>
        <script src="/public/js/clmtrackr_js/ext_js/mosse.js"></script>
        <script src="/public/js/clmtrackr_js/ext_js/left_eye_filter.js"></script>
        <script src="/public/js/clmtrackr_js/ext_js/right_eye_filter.js"></script>
        <script src="/public/js/clmtrackr_js/ext_js/nose_filter.js"></script>
        <script src="/public/js/model_pca_20_svm.js" ></script>
        <script src="/public/js/clmtrackr.js"></script>
        <script src="/public/js/svmfilter_webgl.js"></script>
        <script src="/public/js/svmfilter_fft.js"></script>
        <script src="/public/js/mossefilter.js"></script>
        <script src="/public/js/ext_js/Stats.js"></script>
        <!-- clmtrackr js -->

		<script src="/public/js/application.js" ></script>
    </head>
    <body>
    	<canvas id="canvas" width="640" height="480"></canvas>
    	<video id="webcam" width="640" height="480" style="display:none" ></video>
        <input type="text" name="name" placeholder="First and last name">
        <a id="button" href="#">Ok!</a>
        <ul id="output">
        </ul>

        
        <script>
			var webcam = document.getElementById('webcam');
			var canvas = document.getElementById('canvas');
			$("#button").on("click", function(){
				saveImageInCanvas(canvas);
			});
		    $(function(){
		    	initApp(webcam, canvas);
		    });
    	</script>
    </body>
</html>