
<!doctype html>

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="stylesheet" type="text/css" href="public/css/style.css">
        <script  src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
        <script src="/public/js/utils.js"></script>
		
        <!-- clmtrackr js -->
        <script src="/public/js/utils.js"></script>
        <script src="/public/js/clmtrackr_js/ext_js/numeric-1.2.6.min.js"></script>
        <script src="/public/js/clmtrackr_js/ext_js/mosse.js"></script>
        <script src="/public/js/clmtrackr_js/ext_js/jsfeat-min.js"></script>
        <script src="/public/js/clmtrackr_js/ext_js/frontalface.js"></script>
        <script src="/public/js/clmtrackr_js/ext_js/jsfeat_detect.js"></script>
        <script src="/public/js/clmtrackr_js/ext_js/left_eye_filter.js"></script>
        <script src="/public/js/clmtrackr_js/ext_js/right_eye_filter.js"></script>
        <script src="/public/js/clmtrackr_js/ext_js/nose_filter.js"></script>
        <script src="/public/js/model_pca_20_svm.js"></script>
        <script src="/public/js/clmtrackr_js/clm.js"></script>
        <script src="/public/js/clmtrackr_js/svmfilter_webgl.js"></script>
        <script src="/public/js/clmtrackr_js/svmfilter_fft.js"></script>
        <script src="/public/js/clmtrackr_js/mossefilter.js"></script>
        <script src="/public/js/clmtrackr_js/ext_js/Stats.js"></script>
        <!-- clmtrackr js -->

        <script type="text/javascript" src="public/js/spacebrew.js"></script> //spacebrew
        <script src="/public/js/application.js"></script>
    </head>
    <body>
        
        <div id="container">
            <section id="slide1" class="slide">
                <div id="psychic_gif"></div>
            </section>
            <section id="slide2" class="slide">
                <video id="video_welcome" src="/public/res/video/welcome.mp4">
                <div id="white_curtain"></div>
            </section>
        </div>


        <div id='debug'>
            <canvas id="canvas" width="640" height="480"></canvas>
<!--             <video id="webcam" width="640" height="480"></video> -->
            <video id="webcam" width="640" height="480" style="display:none" loop></video> 
            <audio id="audio_welcome" src="/public/res/welcome.wav" type="audio/wav"></audio>
            <ul id="output">
<!--                 //data is going here!  -->
            </ul>
        </div>
        <script type="text/javascript" src="/public/js/main.js"></script>
    </body>
</html>