
<!doctype html>

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <script  src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
        <script src="/public/js/utils.js"></script>
		
        <!-- clmtrackr js -->
        <script src="/public/js/clmtrackr_js/ext_js/utils.js"></script>
        <script src="/public/js/clmtrackr_js/ext_js/jsfeat-min.js"></script>
        <script src="/public/js/clmtrackr_js/ext_js/frontalface.js"></script>
        <script src="/public/js/clmtrackr_js/ext_js/jsfeat_detect.js"></script>
        <script src="/public/js/clmtrackr_js/ext_js/numeric-1.2.6.min.js"></script>
        <script src="/public/js/clmtrackr_js/ext_js/mosse.js"></script>
        <script src="/public/js/clmtrackr_js/ext_js/left_eye_filter.js"></script>
        <script src="/public/js/clmtrackr_js/ext_js/right_eye_filter.js"></script>
        <script src="/public/js/clmtrackr_js/ext_js/nose_filter.js"></script>
        <script src="/public/js/model_pca_20_svm.js" ></script>
        <script src="/public/js/clmtrackr.js"></script>
        <script src="/public/js/svmfilter_webgl.js"></script>
        <script src="/public/js/svmfilter_fft.js"></script>
        <script src="/public/js/mossefilter.js"></script>
        <script src="/public/js/ext_js/Stats.js"></script>
        <!-- clmtrackr js -->
        
        <script src="/public/js/application.js"></script>

        <style type="text/css">
        *{
            margin: 0;
            padding: 0;
        }

        body{
            background: black; 
        }

        div#container{
            background: black; 
            width: 100%;
            height: 100%;
            position: absolute;
            top:0;
            margin: 0 auto;
            text-align: center;
        }
        div#psychic_gif{
            background: url('public/img/psychic.gif') 500px no-repeat; 
            background-size: 800px;
            background-position: center;
            height: 500px;
            width: 800px;
            margin: 0 auto;
        }

        div#debug{
            position: absolute;
            top: 0;
            display: none;
            z-index: 111;
        }

        a#button{
            text-align: center;
            width: 500px;
            height: 30px;
            background: lightblue;
            position: relative;
            margin-top: -100px;
        }

        /* input#user_name{
            width:640px;
            height: 20px;
            margin-bottom: 10px;
        }*/

        ul li{
            background: white;
        }

        div#fortune{
            position: absolute;
            top: 0;
            left: 0;
            display: flex;
            align-items: center;
            width: 100%;
            height: 100%;
            background: gray;
            z-index: 105; 
            display: none;
            transition: ALL 3s;
        }

        p#fortune_msg{
            padding: 0 10%;
            font-family: 'helvetica', san-serif;
            font-size: 130px;
        }

        </style>

    </head>
    <body>
        <div id="container">
            <div id="psychic_gif"></div>
            <a id="button" href="#">take picture</a>
        </div>

        <div id='debug'>
            <canvas id="canvas" width="640" height="480"></canvas>
            <video id="webcam" width="640" height="480" style="display:none" ></video>
        <!-- <input id="user_name" type="text" name="name" placeholder="First and Last name" style="display:block"> -->
            <ul id="output">
                //data is going here! 
            </ul>
        </div>
        <div id="fortune">
            <p id="fortune_msg"></p>
        </div>

        <script>
			var webcam = document.getElementById('webcam');
			var canvas = document.getElementById('canvas');
            $("#button").on("click", function(){
                saveImageInCanvas(canvas, $('#user_name').val());
                // window.open("/user/ffa57d40-bf3e-11e3-968a-f77353cd20c5");
			
            });

            $(document).keydown(function(e){
            if (e.keyCode==68)
                $("#debug").toggle();
            });

		    $(function(){
		    	initApp(webcam, canvas);
		    });
    	</script>
    </body>
</html>