
<!Doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="stylesheet" type="text/css" href="public/css/style.css">
        <script  src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
        <script src="/public/js/utils.js"></script>
		
        <!-- //////////////////// LINKEDIN API ////////////////-->
        <script type="text/javascript" src="https://platform.linkedin.com/in.js">
        function onLinkedInLoad() {
            console.log('this just ran: onLinkedInLoad');
        };
        api_key: 75wjs71yv91l72
        authentication true
        scope: r_network r_basicprofile r_fullprofile r_emailaddress r_contactinfo
        // onLoad: onLinkedInLoad
        authorize: true
        </script>
        <!-- //////////////////// LINKEDIN API ////////////////-->
    </head>
    <body>
        
        <div id="container">
            <section id="slide1" class="slide">
                <img src="/public/img/psychic_logo.gif">
                <p>A project by Gustavo Faria</p>
            </section>
            <section id="slide2" class="slide">
                <video id="video_welcome" src="/public/res/video/welcome.mp4"></video>
            </section>
            <div id="curtain"></div>
        </div>


        <div id='debug'>
            <!-- //Linkedin --> 
            <script type="IN/Login"></script>
            <form name="searchform" onsubmit="return false;">
              First Name:&nbsp;<input type="text" name="firstName"><br/>
              Last Name:&nbsp;<input type="text" name="lastName"><br/>
              <input type="button" name="search1" value="Search LinkedIn!" onclick="linkedin_app.searchClick()">
            </form>

            <canvas id="canvas" width="640" height="480"></canvas>
            <video id="webcam" width="640" height="480" style="display:none" loop></video> 
            <audio id="audio_welcome" src="/public/res/welcome.wav" type="audio/wav"></audio>
            <audio id="audio_process" src="/public/res/audio/process.wav" type="audio/wav"></audio>
            <ul id="output">
                <!-- //data is going here!  -->
            </ul>
        </div>

        <script src="/public/js/application.js"></script>
        <script type="text/javascript" src="/public/js/linkedin.js"></script>
        <script type="text/javascript" src="public/js/spacebrew.js"></script>
        <script type="text/javascript" src="/public/js/main.js"></script>
    </body>
</html>