*{
    margin: 0;
    padding: 0;
}

body{
    background: black; 
}

div#container{
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    background: black; 
    top:0;
    margin: 0 auto;
    text-align: center;
}

.slide{
    width: 100%;
    height: 1200px;
    position: absolute;
}

#slide1{
    /*width: 100%;
    height: 1200px;*/
    /*background: lime;*/
    z-index: 100;
    opacity: 1;
}

#slide2{
    /*width: 100%;
    height: 1200px;*/
/*    background: red; */  
    opacity: 0;
    z-index: 90;
    transition: ALL 3s;
}


div#psychic_gif{
    margin-top: 200px;
    background: url('../img/slide1_animation.gif') 900px no-repeat; 
    background-size: 900px;
    background-position: center;
    height: 748px;
    width: 1200px;
    margin: 0 auto;
}

/*//DEBUG*/
div#debug{
    position: absolute;
    top: 0;
    display: none;
    z-index: 1000;
}

ul li{
    background: white;
}

div#fortune{
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    background: gray;
    z-index: 105; 
    display: none;
    transition: ALL 3s;
}

h1#name{
    position: absolute;
    background: lime;
    width: 100%;
    font-size: 20px;
    font-family: Helvetica;
    text-align: center;
}

p#fortune_msg{
	position: absolute;
    padding: 0 10%;
    font-family: 'helvetica', san-serif;
    font-size: 130px;
}


/*slide2*/
#slide2{

}

#video_welcome{
    -webkit-transform: rotate(-90deg);
}

#slide2 div#white_curtain{
    position: absolute;
    width: 100%;
    height: 1680px;
    background: red;
}
