*{
    margin: 0;
    padding: 0;
}

body{
    background: black; 
}

div#container{
    background: black; 
    width: 100%;
    height: 100%;
    position: absolute;
    top:0;
    margin: 0 auto;
    text-align: center;
}

.slide{
    width: 100%;
    height: 768px;
    position: absolute;
}

#slide1{
    width: 100%;
    height: 1200px;
    background: black;
    z-index: 100;
    opacity: 1;
}

#slide2{
    width: 100%;
    height: 1200px;
    background: black;
    opacity: 0;
    z-index: 90;
    transition: ALL 3s;
}

#slide2 img#character{
    -webkit-filter: brightness(200);
}

div#psychic_gif{
    margin-top: 200px;
    background: url('../img/slide1_animation.gif') 900px no-repeat; 
    background-size: 900px;
    background-position: center;
    height: 748px;
    width: 1200px;
    margin: 0 auto;
}

div#debug{
    position: absolute;
    top: 0;
    display: none;
    z-index: 1000;
}

a#button{
    text-align: center;
    width: 500px;
    height: 30px;
    background: lightblue;
    position: relative;
    margin-top: -100px;
}

/* input#user_name{
    width:640px;
    height: 20px;
    margin-bottom: 10px;
}*/

ul li{
    background: white;
}

div#fortune{
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    background: gray;
    z-index: 105; 
    display: none;
    transition: ALL 3s;
}

h1#name{
    position: absolute;
    background: lime;
    width: 100%;
    font-size: 20px;
    font-family: Helvetica;
    text-align: center;
}

p#fortune_msg{
	position: absolute;
    padding: 0 10%;
    font-family: 'helvetica', san-serif;
    font-size: 130px;
}


#input{
	margin: 250px 0;
	width: 100%;
	height: 100px;
	text-align: center; 
}

.form{
	margin:  0 auto;
	background: transparent;
	border: none;
	font-size: 18px;
	font-weight: lighter;
	color: #eee;
	font-family:'Helvetica', sans-serif;
}

input{
	width: 500px;
	height: 40px;
}

input:focus{
	outline: none;
	background: transparent;
}

input::-webkit-input-placeholder {
	color: #eee;
	font-weight: lighter;
	border-bottom: 1px solid #2c3e50;
	font-size: 18px;
	font-family: 'Helvetica', sans-serif;
}

input:active::-webkit-input-placeholder ,
input:focus::-webkit-input-placeholder {
	color: #2c3e50;
	font-weight: lighter;
	font-size: 18px;
	border-bottom: 1px solid #2c3e50;
	font-family: 'Helvetica', sans-serif;
}
