@font-face {
	font-weight: normal;
	font-style: normal;
	font-family: 'icomoon';
	src:url('../fonts/icomoon/icomoon.eot?-9heso');
	src:url('../fonts/icomoon/icomoon.eot?#iefix-9heso') format('embedded-opentype'),
		url('../fonts/icomoon/icomoon.woff?-9heso') format('woff'),
		url('../fonts/icomoon/icomoon.ttf?-9heso') format('truetype'),
		url('../fonts/icomoon/icomoon.svg?-9heso#icomoon') format('svg');
}

html, body{
    margin:0;
    padding:0;
    height:100%;
    background: #000;
}

#container{
    position: relative;
    min-height: 100%;
    overflow: hidden;
    background: #000;
}	

.slide{
	position: absolute;
	width: 100%;
	height: 100%;
}

#slide0{
	background-color: black;
	z-index: 100;
	top: 0;
	opacity: 1;
	transition: ALL 1.5s;	
}
	#slide0 img{
		width: 100%;
		margin-top: 15%;
	}

#slide1{
	opacity: 0;
	height: 77%;
	padding-top: 30%; 
	text-align: center;
	background-image: url('../img/bg_psychic.jpg');
	transition: ALL 3s;
}
	#slide1 img{

	}

	#slide1 .input{
		height: 3%;
		width: 80%;
		display: block;
		margin: 0.3em auto 0 auto;
		padding: 0.5em 1em 0.5em 0.7em;
		border: none;
		outline: none;
		background: darkgray; 
		border: solid 3px lightgray; 
		color: black;
	}
	#slide1 .input::-webkit-input-placeholder {
   		color: #7f7e7e;
	}
	input:focus::-webkit-input-placeholder 
	{
	    color: transparent !important;
	}

	#slide1 a.button{
		width: 3%;
		height: 3%;
		right: 6.5%;
		padding: 2%;
		position: absolute;
		display: block;
		margin-top: -6.5%; /*//centered on ipad only!*/
		margin-right: 30px; /*//this is in pixel... dont know if its working properly*/
		font-family: 'icomoon';
		color: black;
		opacity: 0;
		transition: All 0.2s;
	}

	a.button:after{
		content: "\e600";
	}

#slide2{
	height: 100%;
	left: -100%;
	background-image: url('../img/bg_hand-scan.png');
	background-color: #000;
	text-align: center;
	transition: ALL 1.5s; 
}
	#slide2 p{
		margin-top: 5%;
		color: white;
		font-size: 20px; 
	}	

	#slide2 img{
		width: 90%;
		height: 100%;
		margin-top: -10%;
	}
	#slide2 div#scan_box{
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 1180px;
		opacity: 0.5;
	}

	#slide2 #scanning_line{
		position: relative;	
		top: 5px;
		width: 100%;
		height: 10px;
		background: white;
		opacity: 0.7;
		transition: ALL 3s;
	}

#slide3{
	height: 100%;
	top: 100%;
	background-color: #000;
	text-align: center;
	transition: ALL 3s;
}

	#slide3 img, #slide4 img{
		margin-top: 10%;		
	}

#slide4{
	height: 100%;
	left: -100%;
	opacity: 0;
	background-color: #000;
	text-align: center;
	transition: ALL 3s;
}
